<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLIP GAJI</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @page {
        size: landscape;
        margin: 20mm;
    }
</style>

<body>
    <table style="width: 100%;">
        <tr>
            <td style="text-align: center;">
                <h1>LABA RUGI</h1>
                <h1>{{bulan}}</h1>
            </td>
        </tr>
    </table>

    <h1>Pendapatan</h1>
    <table style="width: 100%; text-align: left; font-size: 11px; margin-top: 10px; margin-bottom: 40px;" border="1" cellspacing="0">
        <tr>
            <td style="padding: 10px;">Support Ref</td>
            <td style="padding: 10px;">Nama Kode Akun</td>
            <td style="padding: 10px;">Nilai</td>
        </tr>
        {{#pendapatan.data}}
        <tr>
            <td style="padding: 10px;">{{kode_akun_perkiraan_code}} - {{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{value}}</td>
        </tr>
        {{/pendapatan.data}}
        <tr>
            <td style="padding: 10px;">Total</td>
            <td style="padding: 10px;"></td>
            <td style="padding: 10px;">{{pendapatan.count}}</td>
        </tr>
    </table>

    <h1>Harga Pokok Penjualan</h1>
    <table style="width: 100%; text-align: left; font-size: 11px; margin-top: 10px; margin-bottom: 40px;" border="1" cellspacing="0">
        <tr>
            <td style="padding: 10px;">Support Ref</td>
            <td style="padding: 10px;">Nama Kode Akun</td>
            <td style="padding: 10px;">Nilai</td>
        </tr>
        {{#harga_pokok_penjualan.data}}
        <tr>
            <td style="padding: 10px;">{{kode_akun_perkiraan_code}} - {{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{value}}</td>
        </tr>
        {{/harga_pokok_penjualan.data}}
        <tr>
            <td style="padding: 10px;">Total</td>
            <td style="padding: 10px;"></td>
            <td style="padding: 10px;">{{pendapatan.count}}</td>
        </tr>
    </table>

    <h1>Beban Operasional</h1>
    <table style="width: 100%; text-align: left; font-size: 11px; margin-top: 10px; margin-bottom: 40px;" border="1" cellspacing="0">
        <tr>
            <td style="padding: 10px;">Support Ref</td>
            <td style="padding: 10px;">Nama Kode Akun</td>
            <td style="padding: 10px;">Nilai</td>
        </tr>
        {{#beban_operasional.data}}
        <tr>
            <td style="padding: 10px;">{{kode_akun_perkiraan_code}} - {{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{value}}</td>
        </tr>
        {{/beban_operasional.data}}
        <tr>
            <td style="padding: 10px;">Total</td>
            <td style="padding: 10px;"></td>
            <td style="padding: 10px;">{{beban_operasional.count}}</td>
        </tr>
    </table>

    <h1>Beban Lainnya</h1>
    <table style="width: 100%; text-align: left; font-size: 11px; margin-top: 10px; margin-bottom: 40px;" border="1" cellspacing="0">
        <tr>
            <td style="padding: 10px;">Support Ref</td>
            <td style="padding: 10px;">Nama Kode Akun</td>
            <td style="padding: 10px;">Nilai</td>
        </tr>
        {{#beban_lainnya.data}}
        <tr>
            <td style="padding: 10px;">{{kode_akun_perkiraan_code}} - {{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{value}}</td>
        </tr>
        {{/beban_lainnya.data}}
        <tr>
            <td style="padding: 10px;">Total</td>
            <td style="padding: 10px;"></td>
            <td style="padding: 10px;">{{beban_lainnya.count}}</td>
        </tr>
    </table>


    <h1>Pendapatan Lain - Lain</h1>
    <table style="width: 100%; text-align: left; font-size: 11px; margin-top: 10px; margin-bottom: 40px;" border="1" cellspacing="0">
        <tr>
            <td style="padding: 10px;">Support Ref</td>
            <td style="padding: 10px;">Nama Kode Akun</td>
            <td style="padding: 10px;">Nilai</td>
        </tr>
        {{#pendapatanLainLain.data}}
        <tr>
            <td style="padding: 10px;">{{kode_akun_perkiraan_code}} - {{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{kode_akun_perkiraan_name}}</td>
            <td style="padding: 10px;">{{value}}</td>
        </tr>
        {{/pendapatanLainLain.data}}
        <tr>
            <td style="padding: 10px;">Total</td>
            <td style="padding: 10px;"></td>
            <td style="padding: 10px;">{{pendapatanLainLain.count}}</td>
        </tr>
    </table>

    <table style="width: 100%; text-align: left; font-size: 11px; margin-top: 10px; margin-bottom: 40px;" border="1" cellspacing="0">
        <tr>
            <td style="padding: 10px;">Loss</td>
            <td style="padding: 10px;">{{laba_rugi.loss}}</td>
        </tr>
        <tr>
            <td style="padding: 10px;">Gain</td>
            <td style="padding: 10px;">{{laba_rugi.gain}}</td>
        </tr>
    </table>
</body>

</html>