<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLIP GAJI</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<body style="padding: 40px 40px 40px 30px;">
    <table style="width: 100%;">
        <tr>
            <td style="text-align: center; width: 200px">
                <img src="{{logo}}" width="200px" height="120px">
            </td>
            <td style="text-align: center;">
                <h1>PT. KEPS CONSULT</h1>
                <p>Jl. Lorem ipsum dolor sit amet.</p>
                <p>Email: Lorem, ipsum.</p>
                <h3>SALARY SLIP</h3>
            </td>
        </tr>
    </table>
    <table style="margin: 10px;">
        <tr>
            <td style="padding: 3px;">Nama Pegawai</td>
            <td style="padding: 3px;">:</td>
            <td style="padding: 3px;">{{pegawai.name}}</td>
        </tr>
        <tr>
            <td style="padding: 3px;">NIK</td>
            <td style="padding: 3px;">:</td>
            <td style="padding: 3px;">{{pegawai.nik}}</td>
        </tr>
        <tr>
            <td style="padding: 3px;">NPWP</td>
            <td style="padding: 3px;">:</td>
            <td style="padding: 3px;">{{pegawai.npwp}}</td>
        </tr>
        <tr>
            <td style="padding: 3px;">Position</td>
            <td style="padding: 3px;">:</td>
            <td style="padding: 3px;">{{pegawai.jabatan_name}}</td>
        </tr>
        <tr>
            <td style="padding: 3px;">Divisi</td>
            <td style="padding: 3px;">:</td>
            <td style="padding: 3px;">{{pegawai.divisi_name}}</td>
        </tr>
        <tr>
            <td style="padding: 3px;">Status Pekerja</td>
            <td style="padding: 3px;">:</td>
            <td style="padding: 3px;">{{pegawai.status_tanggungan_name}}</td>
        </tr>
        <tr>
            <td style="padding: 3px;">Tanggungan Pegawai</td>
            <td style="padding: 3px;">:</td>
            <td style="padding: 3px;">{{pegawai.status_tanggungan_name}}</td>
        </tr>
        <tr>
            <td style="padding: 3px;">Periode</td>
            <td style="padding: 3px;">:</td>
            <td style="padding: 3px;">{{periode}}</td>
        </tr>
    </table>
    <table style="width: 100%; text-align: center; border:1.2px solid black; margin: 10px;" border="1" cellspacing="0">
        <tr>
            <td colspan="3" style="padding: 4px; font-size: 17px; font-weight: bold;">Rincian Pendapatan</td>
            <td colspan="3" style="padding: 4px; font-size: 17px; font-weight: bold;">Rincian Potongan</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">Gaji</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{gaji}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;">Piutang Karyawan</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border: none; padding: 8px;">Rp. {{pkt}}</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">Jumlah Lembur</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{lembur}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;">BPJS Kesehatan ( Karyawan )</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border: none; padding: 8px;">Rp. {{bpjs_karyawan}}</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">BPJS Kesehatan</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{bpjs}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;">JHT ( Karyawan )</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border: none; padding: 8px;">Rp. {{jht_karyawan}}</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">JKK</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{jkk}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;">JP ( Karyawan )</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border: none; padding: 8px;">Rp. {{jp_karyawan}}</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">JKM</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{jkm}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;">Kerugian</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border: none; padding: 8px;">Rp. {{kt}}</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">JHT</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{jht}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;">Lain - Lain</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border: none; padding: 8px;">Rp. {{llt}}</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">JP</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{jp}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;">Pph21/26</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border: none; padding: 8px;">Rp. {{pph}}</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">Bonus</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{bonus}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;">Total</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border: none; padding: 8px;">Rp. {{total_rincian_potongan}}</td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">Insentif</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{insentif}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">THR</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{thr}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">Tunjangan Barang</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{total_tunjangan_barang}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">Hadiah</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{ht}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
        <tr>
            <td style="border: none; text-align: left; padding: 8px;">Total</td>
            <td style="border: none;">IDR</td>
            <td style="text-align: right;border:none; border-right: 1px solid black; padding: 8px;">Rp. {{total_rincian_pendapatan}}</td>
            <td style="border:none; border-left: 1px solid black; text-align: left; padding: 8px;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
    </table>
    <h3 style="margin: 10px;">Take Home Pay : Rp. {{take_home_pay}}</h3>
    <table style="text-align: center; margin-top: 20px; float: right; margin-right: 40px;">
        <tr>
            <td>Kupang, {{tanggal}}</td>
        </tr>
        <tr style="height: 40px;">
            <td></td>
        </tr>
        <tr>
            <td>Diterima Oleh</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>{{pegawai.name}}</td>
        </tr>
    </table>
</body>
</html>